<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Lottery</title>
    <style>
        h3 {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <section>
        <h1>Money You Have Spent</h1>
        <span>Your Number: </span>
        <h3>{{choice}}</h3>

        <h2>You have to try: </h2>
        <span>{{cnt}} times to win with this number!</span>
        <h1>=> {{cnt*1000}} 원!</h1>

        
    </section>
        
        

    
</body>
</html>